.editArea{
    background-color:$white;
    width:100%;
    border-radius: $r2;
    padding-top:$s5;
    padding-left:$s5;
    padding-right:$s5;
    display:flex;
    flex-direction: column;
    gap:$s5;
    height:80vh;
    overflow: auto;
   
}


.formCont{
    display:flex;
    flex-direction: column;
    gap:$s3;
}

.emptyEdit{
    width:100%;
    background-color:$lightGrey;
    border-radius:$r2;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-lefT:120px;
    padding-right:120px;
    padding-top:$s8;
    padding-bottom:$s8;
    gap:$s3;
    h1{
        color:$purplePrimary
    }


        p{
            color:$grey;
            text-align: center;
        }


    .emptyEditIllustration{
        width:50%;
    }
    
}