.empty{
    background-color:$emptyGrey;
}

.emptyDetails{
    border-radius:$r3;
}

.emptyName{
    height:$s2;
    width:160px;
}

.emptyEmail{
    height:$s1;
    width:72px;
}

.emptyLinkCard{
    
}

.sharePageEmptyText{
    text-align: center;
    width:100%;
    color:$grey;
}

.noUserCont{
    display: flex;
    gap:$s4;
    align-items: center;
    flex-direction: column;
    height: 100%;
}

.noUserImg{
    width:25%;
}

.noUserTex{
    text-align: center;
}