label{
    @include font(0.75rem, 500, 0, 18px);
    color:$darkGrey;
}

.errorMessage{
    @include font(0.75rem, 500, 0, 18px);
    color:$red;
    visibility: hidden;
}

.formField{
    color:$darkGrey;
    @include font(1rem, 400, 0, 24px);
    padding-left:$s4;
    padding-right:$s12;
    padding-top:$s12;
    padding-bottom:$s12;
    width:100%;
    border:$borderGrey solid 1px;
    border-radius:$r1;
    
    
    

    &:focus{
        border:$purplePrimary 1px solid;
        outline:none;
       @include activeSelection();
    }

    &:invalid{
        border:$red 1px solid;
    }
}
