.navbar{
    background-color:$white;
    border-radius:$r2;
    padding-left:$s3;
    padding-top:$s2;
    padding-bottom:$s2;
    padding-right:$s2;

    display:flex;
    justify-content: space-between;
    
    .navLinksCont{
        display: flex;
        gap:$s2;
        .navLink{

            @media (max-width: 700px) {
                h2{
                    display: none;
                }
                img{
                    min-width:20px;
                }
            }

           

            img{
                svg{
                    path{
                        fill: $purplePrimary;
                    }
                }
            }
            
            display:flex;
            justify-content: center;
            
            padding-top:$s12;
            padding-bottom:$s12;
            padding-left:$s3;
            padding-right:$s3;
            border-radius: $r1;
            gap:$s1;
            color:$grey;

            &:hover{
                cursor: pointer;
                color:$purplePrimary;
                img{
                    filter: invert(36%) sepia(65%) saturate(7499%) hue-rotate(246deg) brightness(100%) contrast(108%);
                }
            }

            h2{
                align-self: center;
                
            }
            img{
                align-self: center;
                filter: invert(51%) sepia(1%) saturate(977%) hue-rotate(314deg) brightness(86%) contrast(78%);
            }
        }
    }

    
}

.activeLink{
    background-color:$lightPurple;
    
    h2{
        color:$purplePrimary;
    }
    img{
        filter: invert(36%) sepia(65%) saturate(7499%) hue-rotate(246deg) brightness(100%) contrast(108%) !important;
    }
      
}