.saveEditBar{
    display: flex;
    position: sticky;
    background-color:$white;
    width:inherit;
    border-top:1px solid $borderGrey;
    bottom:0;
    justify-content: flex-end;
  
    padding-top:$s3;
    padding-bottom:$s3;
}