.file{
    opacity:0;
    width:0.1px;
    height:0.1px;
    position: absolute;
}

.uploadAvatar{
    
    label{
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color:$lightPurple;
        width:192px;
        height:192px;
        color:$purplePrimary;
            @include font(1rem, 700, 0, 24px);
        border-radius: $r2;

       img{
        filter: invert(24%) sepia(96%) saturate(4401%) hue-rotate(248deg) brightness(101%) contrast(101%);
       }

        &:hover{
            cursor: pointer;
        }
        
    }
}

.uploadedAvatar{
    background-color:#000000;;
    border-radius: $r2;
    display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
    span{
        visibility: hidden;
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color:$white;
        background-color:rgba(0, 0, 0, 0.5);
        height:100%;
        width:100%;
        border-radius: $r2;
        img{ filter: invert(100%) sepia(11%) saturate(2%) hue-rotate(209deg) brightness(116%) contrast(100%);
        }
    }
      &:hover{
        
        span{
            visibility: visible;
        }
            
           
        }
    }

    .avatarCont{
        background-color:#EFEBFF;
        border-radius: $r2;
    }
   
    .fixedAvatar{
      
        display:flex;
        justify-content: center;
    }