.file{
    opacity:0;
    width:0.1px;
    height:0.1px;
    position: absolute;
}

.uploadAvatar{
    
    label{
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color:$lightPurple;
        width:192px;
        height:192px;
        color:$purplePrimary;
            @include font(1rem, 700, 0, 24px);
        border-radius: $r2;

       img{
        filter: invert(24%) sepia(96%) saturate(4401%) hue-rotate(248deg) brightness(101%) contrast(101%);
       }

        &:hover{
            cursor: pointer;
        }
        
    }
}

.uploadedAvatar{
    background-color:#000000;;
    border-radius: $r2;
    display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
    span{
        visibility: hidden;
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color:#633CFF;
        img{
            filter: invert(25%) sepia(62%) saturate(6634%) hue-rotate(249deg) brightness(101%) contrast(100%);
        }
    }
      &:hover{
        opacity:50%;
        span{
            visibility: visible;
        }
            
        }
    }

    .avatarCont{
        background-color:#EFEBFF;
        border-radius: $r2;
    }
   