.userProfile{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:$s3;

    .userAvatar{
       width:96px;
       height:96px;
       background-color:$emptyGrey;
       border-radius: $r6;
       overflow: hidden;
    }

    .details{
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap:$s1;

        .username{
            color:$purplePrimary;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            width: 250px;
            text-align: center;
        }

        h2{
            color:$purplePrimary;
        }

        div{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            

            .realName{
                color:$grey;
                font-weight: 700;;
            }
            p{
                color:$grey;
            }
        }
    }
}

