.loginPage{
    height:100vh;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: $s6;

    @media (max-width: 476px) {
        padding-top:$s3;
        gap: $s4;
    }
}