@mixin font( $fontSize , $weight, $letterSpacing, $lineHeight) {
    font-family: $fontFamily;
    font-optical-sizing: auto;
    font-weight: $weight;
    font-style: normal;
    letter-spacing: $letterSpacing;
    font-size: $fontSize;

    line-height: $lineHeight;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
  }

@mixin flexCenter ($direction, $height){
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: $direction;
    height: $height;
}

@mixin activeSelection(){
    -webkit-box-shadow: 0px 0px 32px 0px rgba(99,60,255,0.25);
    -moz-box-shadow: 0px 0px 32px 0px rgba(99,60,255,0.25);
    box-shadow: 0px 0px 32px 0px rgba(99,60,255,0.25);
}