//colors
$purplePrimary : #633CFF;
$purpleHover : #BEADFF;
$lightPurple : #EFEBFF;
$darkGrey : #333333;
$grey : #737373;
$borderGrey : #d9d9d9;
$lightGrey : #fafafa;
$white : #ffffff;
$red : #FF3939;





//font
$fontFamily: "Instrument Sans", sans-serif;

//spacing
$s0 : 4px;
$s1 : 8px;
$s2 : 16px;
$s3 : 24px;
$s4 : 32px;
$s5 : 40px;
$s6 : 48px;
$s7 : 56px;
$s8 : 64px;
$s9 : 72px;
$s10 : 80px;
$s12 : 12px;


//radius
$r1 : 8px;
$r2 : 12px;
$r3 : 16px;
$r4 : 24px;
$r5 : 32px;
$r6 : 48px;


//Container widths
$desktopCont: 730px;